form(method="post", action="/Departments/Add", id="add_department_form")
    p Введите имя:
    input(type="text", name="name"")
    p Выберите главный департамент:
        select(name='parentid')
            option(value="") Нет родителя
            each department in departments
                option(value=department.Id) #{department.Name}
    p Введите Inn:
    input(type="text", name="inn")
    br
    br
    input(type="submit", value="Отправить")