form(method="post", action="/Employees/Edit", id="edit_employee_form")
    p Введите имя:
    input(type="text", name="name")
    p Выберите главный департамент:
        select(name='parentid')
            option(value="") will be parent
            each department in departments
                option(value=department.Id) #{department.Name}
    br
    br
    input(type="submit", value="Отправить")
