doctype html
html
    head
        title Employees
    body
        div
            a(href='/Departments') Департаменты
            br
            a(href='/Employees') Работяги
            br
            a(href='/Tree') Дерево
            br
            p Таблица модели: #{table_name}