doctype html
html
    head
        title Домашние работяги
    body
        div
            a(href='/Departments') Департаменты
            br
            a(href='/Employees') Работяги
            br
            a(href='/Tree') Дерево
