doctype html
html
    head
        title Дерево
        //скрипты для дерева
        script(src="/static/scripts/fancytree/jquery-1.12.0.min.js")
        script(src="/static/scripts/fancytree/jquery-ui.min.js")
        script(src="/static/scripts/fancytree/jquery.fancytree-all.min.js")

        //стили для дерева
        link(href="/static/stylesheets/ui.fancytree.css" rel="stylesheet")

        //для bootbox
        link(rel="stylesheet" type="text/css" href="/static/stylesheets/bootstrap.min.css")
        script(src="/static/scripts/bootstrap.min.js")
        script(src="/static/scripts/bootbox/bootbox.min.js")

        script(src="/static/scripts/tree/tree-routine.js").


        style(type='text/css').
            div.table {
                margin: 0 auto;
                width: 100%;
                display: table;
            }
            ul.columns {
                display: table-row;
            }

            li.column {
                display: table-cell;
                width: 50%;
            }


    body
        div.table
            ul.columns
                li.column
                    div.tree
                        p
                            | Список Департаментов&nbsp;|&nbsp;
                            button.btnAdd(type='button', onclick='departmentAddEditForm(0)') Добавить
                            #tree
                li.column
                    div#employees